.homepage {
	background: #ffffff;
	color: #1e1e1e;
	font-family: 'Poppins', sans-serif;
}

.homepage .static_frame {
	width: 100%;
	background: #fff;
}

.homepage .personage_img.left,
.homepage .personage_img.right {
	position: relative;
	width: 204px;
	height: 200px;
	background: url('/public/home/papays.png') center/cover no-repeat;
	transform: scaleX(1);
}

.homepage .personage_img.right {
	transform: scaleX(-1);
	margin-right: -40px;
}

.homepage .static_box {
	width: 191px;
	height: 120px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.homepage .static_box .static_num {
	font-size: 54px;
	font-weight: 600;
	line-height: 81px;
	color: #ffffff;
}

.homepage .static_text {
	font-size: 20px;
	font-weight: 500;
	color: #e3c08d;
}

.homepage .top_restaurant_frame {
	width: 100%;
	height: auto;
	padding: 60px 0;
	background: #fff;
}

.homepage .category_title {
	font-size: 40px;
	font-weight: 700;
	color: #e3c08d;
	text-align: center;
}

.homepage .best_restaurant_frame {
	width: 100%;
	min-height: 775px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

.homepage .best_dishes_frame {
	margin-top: 72px;
	width: 100%;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	justify-content: center;
}

.homepage .dish_box {
	width: 273px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.homepage .dish_img {
	width: 273px;
	height: 275px;
	background-size: cover;
	border-radius: 0 50px 0 0;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	position: relative;
	transition: transform 0.3s ease;
}

.homepage .dish_img:hover {
	transform: scale(1.02);
}

.homepage .dish_sale {
	position: absolute;
	top: 20px;
	left: 0;
	width: 77px;
	height: 39px;
	background: #f8be69;
	border-radius: 0 50px 50px 0;
	color: white;
	font-size: 14px;
	font-weight: 600;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 4px 6px 20px rgba(0, 0, 0, 0.1);
}

.homepage .view_btn {
	width: 163px;
	height: 50px;
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: opacity 0.5s ease;
	background: rgba(28, 23, 23, 0.7);
	border: 2px solid #b48b50;
	border-radius: 10px;
	color: #ffffff;
	font-weight: 600;
	cursor: pointer;
}

.homepage .dish_img:hover .view_btn {
	opacity: 1;
}

.homepage .dish_desc {
	width: 100%;
	text-align: center;
}

.homepage .dish_title_txt {
	margin-top: 18px;
	font-size: 20px;
	font-weight: 600;
	color: #d1d1d1;
}

.homepage .dish_title_desc {
	margin-top: 12px;
	font-size: 24px;
	font-weight: 600;
	color: #e3c86d;
}

.homepage .ads_restaurant_frame {
	width: 100%;
	height: 693px;
	background-color: #956dd3;
	display: flex;
	overflow: hidden;
	box-shadow: 0 -62px 60px 20px rgba(217, 217, 217, 0.4);
	margin-top: 186px;
}

.homepage .ads_video {
	width: 100%;
	background: #0c0e12;
	transform: scale(1.5);
	overflow: hidden;
	box-shadow: 0 -8px 90px rgba(215, 215, 255, 0.5);
}

.homepage .events_frame {
	margin-top: 45px;
	width: 100%;
	height: 700px;
	display: flex;
	overflow: hidden;
}

.homepage .events_main {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.homepage .events_txt {
	text-align: center;
	color: #e3c08d;
	font-size: 36px;
	font-weight: 700;
}

.homepage .prev_next_frame {
	margin-top: 19px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 250px;
}

.homepage .events_info {
	margin-top: 75px;
	width: 100%;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	gap: 40px;
}

.homepage .events_info_frame {
	width: 579px;
	height: 447px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.homepage .events_img {
	width: 100%;
	height: 100%;
	background-size: cover;
	border-radius: 10px;
}

.homepage .events_desc {
	position: absolute;
	bottom: 10px;
	width: 90%;
	background: #ffffff;
	padding: 15px;
	border-radius: 8px;
	box-shadow: 0 20px 30px rgba(25, 25, 46, 0.08);
}

.homepage .events_bott {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.homepage .event_title_speaker {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.homepage .event_organizator {
	display: flex;
	align-items: center;
}

.homepage .spec_txt_author {
	font-size: 14px;
	color: #140342;
}

.homepage .text_desc {
	font-size: 17px;
	color: #4f4f4f;
	text-align: left;
	margin-top: 10px;
}

.homepage .bott_info {
	display: flex;
	justify-content: flex-end;
	width: 100%;
}

.homepage .bott_info_main {
	display: flex;
	align-items: center;
	font-size: 14px;
	color: #4f547b;
	margin-left: 10px;
}

.homepage .swiper-pagination-bullet {
	width: 10px;
	height: 10px;
	background: #fff;
	opacity: 1;
	border-radius: 50%;
	margin-right: 5px;
}

.homepage .swiper-pagination-bullet-active {
	background: #007aff;
}

.homepage .top_article_frame {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.homepage .top_article_frame_container {
	margin: 60px 0 50px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.homepage .article_main {
	display: flex;
	justify-content: space-between;
	width: 100%;
	flex-wrap: wrap;
	gap: 20px;
}

.homepage .article_container {
	width: 568px;
	display: flex;
	flex-direction: column;
}

.homepage .article_category {
	font-size: 25px;
	font-weight: 600;
	color: #fff;
	text-align: center;
}

.homepage .article_box,
.homepage .article_news {
	width: 100%;
	border-radius: 20px;
	background: #fff;
	box-shadow: 0 4px 40px rgba(0, 0, 0, 0.15);
	display: flex;
	margin-top: 18px;
	overflow: hidden;
}

.homepage .article_img {
	width: 150px;
	height: 153px;
	background-size: cover;
	border-radius: 8px;
}

.homepage .article_info {
	padding: 10px;
	display: flex;
	align-items: center;
	background: #fff;
}

.homepage .article_main_info {
	width: 100%;
}

.homepage .author_username {
	margin-left: 10px;
	font-size: 16px;
	color: #000;
}

.homepage .article_title {
	margin-top: 10px;
	font-size: 22px;
	color: #e3c08d;
	font-weight: 600;
}

.homepage .article_desc {
	margin-top: 8px;
	font-size: 14px;
	line-height: 22px;
	color: #333;
}
